@page
@using TodoApp.Web.Core.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if(Model.TodoItems != null && Model.TodoItems.Length != 0)
{
	<table class="todo-table">
		<tr>
			<th>Instruction</th>
			<th>Deadline</th>
			<th>Added on</th>
			<th>Complete</th>
		</tr>
		@foreach (var todoItem in Model.TodoItems)
		{
			var deadlineState = Model.itemDeadlineStateCalculator.CalculateItemDeadlineState(todoItem);
			var todoItemClass = string.Empty;
			switch(deadlineState)
			{
				case ItemDeadlineState.COMPLETED:
					todoItemClass = "todo-completed";
					break;
				case ItemDeadlineState.NEAR_DEADLINE:
					todoItemClass = "todo-near-deadline";
					break;
				case ItemDeadlineState.PAST_DEADLINE:
					todoItemClass = "todo-past-deadline";
					break;
			}

			<tr class="@todoItemClass">
				<td>@todoItem.Instruction</td>
				<td>@todoItem.Deadline.ToString("dd.MM.yyyy @ HH:mm")</td>
				<td>@todoItem.AdditionDate.ToString("dd.MM.yyyy @ HH:mm")</td>
				<td>
					<a class="todo-complete-icon" asp-page="/CompleteTask" asp-route-itemindex="@todoItem.Id">
						<i class="fas fa-check"></i>
					</a>
				</td>
			</tr>
		}
	</table>
}
